* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

html{
    font-family: 'Barlow', sans-serif;
}

ul {
    list-style: none;
}

.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.main__header {
    position: fixed;
    background-color: #f4640c;
    font-family: 'Barlow', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__header__nav {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.main__header__nav a {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.main__header__nav li {
    padding: 8px;
}

.main__principal {
    background-image: linear-gradient(180deg, rgba(245, 183, 136, 1) 35%, rgba(255, 255, 255, 1) 81%);
    color: #893806;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main__principal__conteiner {
    padding: 15px 15px;
    padding-top: 40px;
    width: 400px;
    height: 60%;
}

.main__principal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 190px;
    height: 10px;
}

.main__principal__wrapper-paragraph {
    font-style: normal;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    align-items: flex-start;
    padding: 10px 0;
}

.main__principal__wrapper-author {
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    text-align: end;
}

.main__principal__img img {
    width: 95%;
}

.main__principal__img {
    display: flex;
    justify-content: center;
}

.about__us {
    background-color: #ffffff;
    padding: 30px 15px;
}

.about__us__wrapper {
    padding-bottom: 30px;

}

.about__us__wrapper h4 {
    font-size: 0.9rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    color: #f4640c;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.about__us__wrapper p {
    font-size: 1.2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 1rem;
}

/* .about__us__wrapper-video {
    width: 50px;
} */

.footer {
    background-color: #E4E8E1;
    font-style: normal;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 25px 25px 25px 25px;
}

.footer div {
    padding: 3px 25px 3px 25px;
}

@media (min-width: 992px) {
    .fixed {
        bottom: 15px;
        right: 15px;
    }

    .main__header {
        position: fixed;
        width: 100vw;
        height: 80px;
        display: grid;
        grid-template-columns: 200px auto;
        justify-content: space-around;
        align-items: center;
    }

    .main__header__logo {
        margin-left: -40%;
    }

    .main__header__nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: end;
        gap: 0 20px;
        margin-left: 110%;
    }

    .main__header__nav-button {
        border: 1px solid white;
        border-radius: 42px;
        padding: 10px 15px;
    }

    .main__principal__conteiner {
        width: 96%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0 40px;
        height: 60%;
    }

    .main__principal__wrapper {
        overflow: hidden;
        width: 400px;
        height: 350px;

    }

    .main__principal__wrapper-paragraph {
        font-size: 2rem;
        text-align: end;
        padding: 40px 0;
    }

    .main__principal__wrapper-author {
        font-size: 1.5rem;
        padding: 30px;
    }

    .main__principal__img img {
        justify-self: center;
        border-radius: 20px;
        width: 750px;
        height: 450px;
        animation-name: float;     
        animation-iteration-count:infinite;
        animation-timing-function:ease-in;
        animation-duration:10s;
    }

    .about__us__conteiner {
        width: 100vw;
        display: grid;
        grid-template-columns: 400px 800px;
        justify-content: space-around;
        align-items: end;
    }

    .about__us {
        background-color: #ffffff;
        height: 430px;
        width: 95%;
        display: flex;
        align-items: center;
    }

    .about__us__wrapper {
        overflow: hidden;
        width: 90%;
        height: 300px;
    }

    .about__us__wrapper h4 {
        font-size: 20px;
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        line-height: 1.6;
        color: #f4640c;
        margin-left: 3rem;
    }

    .about__us__wrapper p {
        font-size: 2rem;
        font-family: 'Barlow', sans-serif;
        font-weight: 500;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    .about__us__wrapper-video video {
        width: 100%;
        padding: 20px 15px;
        border-radius: 180px
    }

    .footer {
        background-color: #E4E8E1;
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        padding: 25px 25px 25px 25px;
    }

    .footer div {
        padding: 3px 25px 3px 25px;
    }

    .nosotros {
        background-color: #f5b788;
        color: #893806;
        padding: 120px 25px 50px;
    }

    .nosotros h1 {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
    }

    .nosotros p {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        margin-top: 3%;
    }

    .clases {
        background-color: #f5b788;
        color: #893806;
        padding: 125px 25px 50px;
    }

    .clases h1 {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
    }

    .clases ul {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
    }

    .clases ul li {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 3%;
    }

    .clases ul p {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 1%;
    }

    .galeria {
        background-color: #f5b788;
        color: #893806;
        padding: 120px 25px 20px;
    }

    .galeria h1 {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
    }

    .galeria__img {
        padding-top: 10px;
        padding-left: 150px;
        padding-bottom: 10px;
    }

    .contacto {
        background-color: #f5b788;
        color: #893806;
        padding: 125px 25px 20px;
    }

    .contacto h1 {
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 20px;

    }

    .form {
        margin: 0 auto;
        width: 300px;
        background-color: #fcfbfa;
        padding: 20px 30px 20px 20px;
        color: #893806;
        border-radius: 10px;
        font-style: normal;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 0.8rem;
    }

    .form__input {
        border-radius: 5px;
        border-color: #cecece;
        border-width: 0.5px;
        padding: 5px;
        margin-bottom: 8px;
        width: 100%;

    }

    .flex {
        display: flex;
    }

    textarea {
        border-radius: 5px;
        border-color: #cecece;
    }

    .form__input-cta {
        padding: 5px;
        margin-left: 24px;

    }
}

@keyframes float {

    0%,
    100% {
        transform: translate(-25px, -25px)
    }

    25% {
        transform: translate(25px, -25px)
    }

    50% {
        transform: translate(25px, 25px)
    }

    75% {
        transform: translate(-25px, 25px)
    }
}